@page "/main"
@layout MainLayout
@inject ISyncfusionStringLocalizer  Localizer
@inject ProtectedSessionStorage ProtectedSessionStorage
@using HUDEwiBlazor.Data;
@inject ApplicationDBContext _context
@code
{
    private string Name { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var guid = await ProtectedSessionStorage.GetAsync<string>("GUID");
        var emp = _context.Employees.Where(x => x.GUID == guid).Select(x => new { x.Name, x.Surname }).FirstOrDefault();
        Name = string.Join(" ", emp.Name, emp.Surname);
    }

}
<div class="limiter">

    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form validate-form">
                <LocalizatinSwitcher />
                <span class="login100-form-title-small p-b-43" style="padding-bottom:20px !important;">
                    @Localizer.GetText("LoggedAs") <b>@Name</b>
                </span>
                <span class="login100-form-title p-b-43">
                    @Localizer.GetText("YourWorkSchedule")
                </span>
                <br />
                <div id="calender-control" class="multiselectWrapper">
                    <MainCallendar />
                </div>
                <div class="schedule-section">


                </div>
                <ejs-dialog id="confirm_dialog" animationSettings="confirmanimation" open="dialogOpen" close="dialogClose" visible="false" width="400px" height="300px" target="#demand_dialog" showCloseIcon="true">
                    <e-dialog-buttons>
                        <e-dialog-dialogbutton buttonModel="ViewBag.confirmbutton" click="confirmBtnClick"></e-dialog-dialogbutton>
                        <e-dialog-dialogbutton buttonModel="ViewBag.confirmbutton1" click="confirmBtnClickNo"></e-dialog-dialogbutton>
                    </e-dialog-buttons>
                </ejs-dialog>
                <br />
                <br />
                <div class="container d-md-none d-lg-none d-xl-none">
                    <MainButton2 Title="@Localizer.GetText("Acknowledge_presence")" Url="#" type="attendance" />
                    <MainButton2 Title="@Localizer.GetText("Vacation_On_Request")" Url="#" type="demand" />
                    <MainButton2 Title="@Localizer.GetText("Vacation_Leave")" Url="#" type="holidays" />
                    <MainButton2 Title="@Localizer.GetText("Work_Schedule")" Url="#" type="schedule" />
                    <MainButton2 Title="@Localizer.GetText("Advanced")" Url="#" type="advanced" />

                </div>
                <MainButton2 Title="@Localizer.GetText("LogOutEwi")" Url="#" type="logout" />

            </div>
            <div class="login100-more2" style="background-repeat:no-repeat; background-image: url('../images/hud_slide.jpg');">


                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="thumbnail_container">
                                <div class="thumbnail">
                                    <MainButton Url="#" type="attendance" Title="@Localizer.GetText("Acknowledge_presence")" src="../images/attendance.jpg" hover_src="../images/attendance-t.jpg" />
                                </div>
                            </div>
                        </div>
                        <div id="demand_dialog" class="col-sm-4">
                            <div class="thumbnail_container">
                                <div class="thumbnail">
                                    <MainButton Url="#" type="demand" Title="@Localizer.GetText("Vacation_On_Request")" src="../images/demand.jpg" hover_src="../images/demand-t.jpg" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="thumbnail_container">
                                <div class="thumbnail">
                                    <MainButton Url="#" type="holidays" Title="@Localizer.GetText("Vacation_Leave")" src="../images/holidays.jpg" hover_src="../images/holidays-t.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-2 col-sm-4">
                            <div class="thumbnail_container">
                                <div class="thumbnail">
                                    <MainButton Url="#" type="schedule" Title="@Localizer.GetText("Work_Schedule")" src="../images/schedule.jpg" hover_src="../images/schedule-t.jpg" />
                                </div>
                            </div>
                        </div>
                        <div class="offset-0 col-sm-4">
                            <div class="thumbnail_container">
                                <div class="thumbnail">
                                    <MainButton Url="#" type="advanced" Title="@Localizer.GetText("Advanced")" src="../images/advanced.jpg" hover_src="../images/advanced-t.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



