
@inherits HUDEwiBlazor.Components.AuthenticateBase
@inject ISyncfusionStringLocalizer  Localizer


@if (LinkExist == true)
{
    <EditForm class="login100-form validate-form" Model=@passwordChangeModel OnValidSubmit=@ChangePasswordValidFormSubmitted OnInvalidSubmit=@ChangePasswordInvalidFormSubmitted>
        <DataAnnotationsValidator />
        <LocalizatinSwitcher />
        <span class="login100-form-title p-b-43">
            @Localizer.GetText("Password_change")
        </span>
        <span class="flex-sb-m w-full">@Localizer.GetText("Password"):</span>
        <div class="wrap-input100 validate-input">
            <input class="input100" type="password" @bind-value=passwordChangeModel.password1 name="password">
            <div class="validation-message">
                @password_validation_1
            </div>
            <span class="focus-input100"></span>
        </div>
        <br />
        <span class="flex-sb-m w-full">@Localizer.GetText("PasswordRepeat"):</span>
        <div class="wrap-input100 validate-input">
            <input class="input100" type="password" @bind-value=passwordChangeModel.password2 name="password">
            <div class="validation-message">
                @password_validation_2
            </div>
            <span class="focus-input100"></span>
        </div>
        <br />

        @if (authorization_result != null)
        {
            <div class="validation-message">
                @authorization_result
            </div>
        }
        <div class="container-login100-form-btn">
            <button class="login100-form-btn">
                @Localizer.GetText("Change")
            </button>
        </div>
        <div class="container-login100-form-btn">
            <button @onclick="GoToHomePage" class="login100-form-btn">
                @Localizer.GetText("BackToLogin")
            </button>
        </div>
    </EditForm>

}
else
{
    <div class="login100-form">
        <span class="login100-form-title p-b-43">
            @Localizer.GetText("WrongLink")
        </span>

        <div class="container-login100-form-btn">
            <button @onclick="GoToHomePage" class="login100-form-btn">
                @Localizer.GetText("BackToLogin")
            </button>
        </div>
    </div>
}
<Document Title="@Localizer.GetText("Password_change")" />



